@using EntityLayer.Concrete
@model List<About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hakkında Veri Listesi</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Başlık</th>
        <th>Aktif yap</th>
        <th>Pasif yap</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AboutID</td>
            <td>Başlık</td>
            <td> <a href="#" class="btn btn-warning">aktif yap</a></td>
            <td> <a href="#" class="btn btn-danger">pasif yap</a></td>
        </tr>
    }
@Html.Action("AboutPartial","About")